.gameCell {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameCell:hover {
  background-color: #eee;
}

.gameCell > div {
  margin: 0.6rem auto;
}

.cellIcon {
  width: 60%;
}

.gameIcon {
  width: 100%;
}

.gameTitle {
  text-decoration: none;
  color: black;
}
